<h1>What is Crypto?</h1>
<br />
<pre>
<p>A decentralized database that stores a registry of transactions (and assets) across a peer-to-peer network.</p> 
</pre>

<pre>
<p>Transactions in the network are secured through cryptography. </p></pre>
<pre>
<p>Time-stamped and stored in blocks of data that are verified across participating nodes (network).</p>
</pre>

<h1>Why Cryptocurrency?</h1>
<br />
<pre>
<p>
An economic revolution that will empower poor communities that have been traditionally marginalized by the financial system</p>
<p>with no access to capital or tools to build wealth.</p>  
</pre>

<pre>
<p>
Cryptocurrencies will allow those communities to actively participate in the global financial system and bring financial wealth, </p>
<p>freedom to future generations.
</p>
</pre>