<h1>Crypto Page</h1>
<br /><br />
<% @coins %>

<% for a in @coins %>
  <% for coin in @my_coins %>
    <% if coin == a["symbol"] %>
      <%= a["name"]%> : $<%= a["price_usd"] %><br />
      Rank: <%= a["rank"] %><br />
    <% end %> 
  <% end %>
<% end %>     

