<h1>Crypto Page</h1>
<br /><br />

<% @coins %>

<% for a in @coins %>
  <% for coin in @my_coins %>
    <% if coin == a["symbol"] %>
      <%= a["name"]%> : $<%= a["price_usd"] %><br />
      Rank: <%= a["rank"] %><br />
    <% end %> 
  <% end %>
<% end %>  
<br />

<div class="subscribe-btn">
  <% if current_user %>
      <button><%= link_to "Click Here to Search-Crypto", search_crypto_path, class: "gradient-button gradient-button-4 btn-lg btn-xlarge" %>
      </button>  
  <% end %>
</div>

