<h1>Crypto Page</h1>
<br /><br />

<% @coins %>

<% for a in @coins %>
  <% for coin in @my_coins %>
    <% if coin == a["symbol"] %>
        <!-- if you need accurate crypto price with decimals, remove the number_to_currency ruby method -->
      <%= a["name"]%> : <%= number_to_currency (a["price_usd"]) %><br />
      Rank: <%= a["rank"] %><br />
    <% end %> 
  <% end %>
<% end %>  
<br />

<div>
  <% if current_user %>
      <button type="button" class="btn btn-info"><%= link_to "Click Here to Search-Crypto", search_crypto_path %>
      </button>  
  <% end %>
</div>

